Source: libvformat-ruby
Section: interpreters
Priority: optional
Maintainer: Jan Becvar <jan.becvar@solnet.cz>
Build-Depends-Indep: cdbs, debhelper (>= 4.0.0), gem2deb (>= 0.3.0~)
Standards-Version: 3.6.2
XS-Ruby-Versions: all

Package: ruby-vformat
Architecture: all
Multi-Arch: foreign
XB-Ruby-Versions: ${ruby:Versions}
X-DhRuby-Root: ruby
Description: vCard, vCalendar, iCalendar library fo Ruby
 TODO

Package: libvformat-ruby-doc
Architecture: all
Multi-Arch: foreign
Description: vCard, vCalendar, iCalendar library fo Ruby (documentation)
 TODO
